const config = {
    apiServer: "<%= apiServer %>",
    appServer: "<%= appServer %>",
    stripePK: "<%= stripePK %>",
    cognitoUserPool: "<%= cognitoUserPool %>",
    cognitoClientId: "<%= cognitoClientId %>",
}
