@tailwind base;

@tailwind components;

@font-face {
  font-family: "Brick";
  src: url("fonts/brick-display-regular-pro.eot");
  src: local("☺"), url("fonts/brick-display-regular-pro.woff") format("woff"),
    url("fonts/brick-display-regular-pro.ttf") format("truetype"),
    url("fonts/brick-display-regular-pro.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brick";
  src: url("fonts/brick-display-black-pro.eot");
  src: local("☺"), url("fonts/brick-display-black-pro.woff") format("woff"),
    url("fonts/brick-display-black-pro.ttf") format("truetype"),
    url("fonts/brick-display-black-pro.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@tailwind utilities;

body {
  font-family: "effra", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #111111;
}

//no IE support for this feature
.white-border-font-no-fill {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px white;
}

.product-header {
	height: 100vh;

	@media (min-width: 768px) {
		height: calc(100vh - 75px);
	}
}

.active-pricing {
	position: relative;
	&:after{
		content: " ";
		position: absolute;
		bottom: -15px;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		width: 0; 
		height: 0; 
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid #111111;
  }
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  cursor: pointer;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
